<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <modracx_fdt>
            <general>
                <enabled>1</enabled>
                <allow_production>0</allow_production>
                <allowed_ips>127.0.0.1,::1</allowed_ips>
                <require_cookie>1</require_cookie>
            </general>
            <collectors>
                <db>1</db>
                <blocks>1</blocks>
                <events>1</events>
                <observers>1</observers>
                <layout>1</layout>
                <fallback>1</fallback>
                <cache>1</cache>
                <client>1</client>
                <translations>0</translations>
            </collectors>
            <thresholds>
                <slow_query>50</slow_query>
                <slow_block>50</slow_block>
                <slow_observer>30</slow_observer>
                <duplicate_limit>3</duplicate_limit>
                <nplus1_limit>3</nplus1_limit>
                <heavy_module>100</heavy_module>
            </thresholds>
            <storage>
                <persist>1</persist>
                <retention_hours>24</retention_hours>
                <max_events>5000</max_events>
            </storage>
        </modracx_fdt>
    </default>
</config>
